{% if primary %}
	<a href="{{link}}" class="relative z-10 inline-block rounded-md bg-orange px-8 py-4 font-semibold leading-none text-white transition-colors duration-300 after:absolute after:-z-20 after:inset-0 after:left-0 after:top-0 after:translate-x-1.5 after:translate-y-1.5 after:rounded-md after:bg-orange after:bg-opacity-25 after:transition-transform after:duration-300 hover:after:translate-x-0 hover:after:translate-y-0 before:block before:inset-0 before:absolute before:bg-orange-dark before:-z-10 before:rounded-md before:scale-75 hover:before:scale-100 before:transition-all before:duration-300 before:opacity-0 hover:before:opacity-100">
		{{text}}
	</a>
{% endif %}
