<div class="hidden lg:flex lg:items-cente lg:gap-2">
	<button class="button-nav button-prev w-12 h-12 grid place-items-center border border-black rounded-full rotate-180 bg-black bg-opacity-0 hover:bg-opacity-10 transition-colors duration-300">
		<img src="{{theme.link}}/src/images/icons/icon-arrow.svg" alt="icon arrow prev">
	</button>
	<button class="button-nav button-next w-12 h-12 grid place-items-center border border-black rounded-full bg-black bg-opacity-0 hover:bg-opacity-10 transition-colors duration-300">
		<img src="{{theme.link}}/src/images/icons/icon-arrow.svg" alt="icon arrow next">
	</button>
</div>
